@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

:root {
  --primary-color: #67b246;
  --font-header: 'Raleway', sans-serif;
  --font-serif: 'Cormorant Garamond', serif;
  --font-mono: 'IBM Plex Mono', monospace;
  --font-all: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
  background-color: #111111;
  font-family: 'Roboto', sans-serif;
  font-feature-settings: 'dlig', 'zero', 'ss01', 'cv05', 'cv10';
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Roboto', sans-serif;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: #67b246; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #67b246; /* Gecko Browsers */
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  visibility: none;
  background-color: #111111;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #67b236;
}

.BrainhubCarousel__dot--selected::before {
  background-color: #67b246 !important;
}

.BrainhubCarousel__container {
  width: 100% !important;
}
