@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  display: swap;
  src: local('Rubik'), url('../../static/fonts/Rubik_300.woff2') format('woff2')
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  display: swap;
  src: local('Rubik'), url('../../static/fonts/Rubik_400.woff2') format('woff2')
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  display: swap;
  src: local('Raleway'), url('../../static/fonts/Raleway_100.woff2') format('woff2')
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  display: swap;
  src: local('Raleway'), url('../../static/fonts/Raleway_200.woff2') format('woff2')
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  display: swap;
  src: local('Raleway'), url('../../static/fonts/Raleway_500.woff2') format('woff2')
}


html {
  background-color: #111111;
  font-family: 'Roboto', sans-serif;
  font-feature-settings: 'dlig', 'zero', 'ss01', 'cv05', 'cv10';
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Roboto', sans-serif;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: #67b246; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #67b246; /* Gecko Browsers */
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  visibility: none;
  background-color: #111111;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #67b236;
}

.BrainhubCarousel__dot--selected::before {
  background-color: #67b246 !important;
}

.BrainhubCarousel__container {
  width: 100% !important;
}
